.formRow {
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.searchInput {
	width: 210px;
	margin: auto;
	float: right;
}

.mobileSearchInput {
	margin-bottom: 15px;
	float: none;
}

.sortSelector {
	width: 210px;
	margin: auto;
	float: left;
}

.mobileSortSelector {
	float: none;
}

.checkboxes {
	width: fit-content;
	margin: auto;
}
